# gitignore
packages/

# Generated
node_modules
.vsix

# Mac
.DS_Store

# Code
.vscode/
vsc-extension-quickstart.md
.vscode-test/

# n{v,p}m uarn
.nvm-node
.nvmrc
package-lock.json
yarn.lock

# Theme stuff
.currentSettingsTheme.json