# User settings
.vscode/**
# Test files
.vscode-test/**
# Media workfiles
media/workfile/**
.gitignore
vsc-extension-quickstart.md

# macOS
.DS_Store

# node / nvm
node-modules
.nvm*
jsconfig.json

# Existing builds
packages/*

# Not needed
test
scripts